<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Websockets example</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.2"></script>
    <link rel="stylesheet" href="/static/chat.css">
</head>
<body>
    <div hx-ext="ws" ws-connect="/ws">  
        <ul id="chat-app">

        </ul>

        <form id="form" ws-send>  
            <input type="text" name="message" placeholder="Enter your message" required>
            <button type="submit">Send Message</button>
        </form>
    </div>
</body>
</html>