<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Websockets example</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/auth.css">
<body>
    <div>  
        <form method="post" action="/login">
            <label for="name">Username: </label>
            <input type="text" id="name" name="username" placeholder="enter your username">

            <label for="pass">Password: </label>
            <input type="password" id="pass" name="password" placeholder="enter your password">

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
